# Main
.env
venv/
.yaml

# Python cache files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
db/*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store