<!-- frontend/templates/base_test.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlakeOL{% endblock %}</title>
    <!-- Dynamically include the stylesheet -->
    <link rel="stylesheet" href="{% if page_style %}{{ url_for('static', filename=page_style) }}{% else %}{{ url_for('static', filename='css/styles.css') }}{% endif %}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->

     <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap">
    
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
    <script async src="https://unpkg.com/@supabase/supabase-js/dist/umd/supabase.js"></script>
</head>
<body>
    {% if show_video_background %}
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='assets/videos/vintage_field.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% endif %}
    <div class="overlay">
        {% block content %}{% endblock %}
    </div>
    <header></header>
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
