<!-- frontend/templates/index.html -->
{% extends 'base.html' %}

{% block title %}Signup - BlakeIM{% endblock %}

{% block content %}
<div id="signup" class="container">
    <h2>Create Your BlakeIM Account</h2>
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Enter Email">
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="Choose a Username">
    <label for="password">Password</label>
    <input type="password" id="password">
    <button onclick="createAccount()">Sign Up</button>
    <p>Already have an account? <a href="/login">Log in</a></p>
</div>
{% endblock %}
